* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.box {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;


}

.stop-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: transparent;

    border-top: 1px solid #0d6db7;


}

.header {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: #0d6db7;



}

.timer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: white;

    padding: 10px;


}

.min {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: black;
    font-weight: bolder;
    padding: 5px;

}

.sec {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    padding: 5px;

}

.ms {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    padding: 5px;

}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}


.btn1 {
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 3px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;

}

.mn {
    font-size: 1rem;
    margin-top: 15px;
}

.green {
    background-color: white;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    font-weight: bolder;
}

.green:focus {
    background-color: #0d6db7;
    color: white;
}

.blue {
    background-color: white;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    font-weight: bolder;
}

.blue:focus {
    background-color: #0d6db7;
    color: white;
}

.red {
    background-color: white;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    font-weight: bolder;
}

.red:focus {
    background-color: #0d6db7;
    color: white;
}

@media screen and (max-width:500px) {

    .stop-box {
        gap: 10px;
        padding: 15px;
    }

    .stop-box {
        width: 95%;
    }

    .header {
        font-size: 1.5rem;
    }

    .min {
        font-size: 2rem;
    }

    .sec {
        font-size: 1.5rem;
    }

    .ms {
        font-size: 1rem;
    }

}